
export("v", "u", "d", "r")

exportClasses("vertexSet","edge", "undirectedEdge", "directedEdge","edgeList",
              "incidenceList","incidenceMatrix","adjacencyList","adjacencyMatrix",
              "anyGraph", "generalGraph", "multiGraph", "simpleGraph")

exportMethods("initialize","show","showRel",
              "card","isEmpty","areTheSame","isPresent",
              "[","[[","coerce",
              "names","names<-","maxId","recode",
              "incidenceList","incidenceList<-",
              "incidenceMatrix", "incidenceMatrix<-",
              "adjacencyList","adjacencyList<-",
              "adjacencyMatrix", "adjacencyMatrix<-",
              "display")
